{% extends "base.html" %}
{% block title %}API{% endblock %}

{% block content %}
      <div class="row first">
    <div class="col-md-1"></div>
     <div class="col-md-8 textcontent">
    <h2>API - Calculateur du domaine public</h2>

    <p>L’interface de programmation (API) du Calculateur du Domaine Public vous permet de calculer le statut juridique d’une œuvre. Il s’appuie sur l’arbre de décisions représentant le régime du droit d’auteur en France développé par l’IViR, Kennisland et la Bibliothèque nationale du Luxembourg dans le cadre du projet EuropeanaConnect.</p>

    <p>L'API est disponible à cette adresse :<a
      href="/api/pd">/api/pd</a></p>
    <p> Pour faire une requête vous devez fournir les paramétres suivants :</p>
    <ul>
      <li>jurisdiction : le pays pour lequel vous souhaitez calculer le statut juridique de l'oeuvre :
          'austria', 'belgium', 'bulgaria', 'cyprus', 'czech', 'denmark', 'estonia', 'finland', 'france', 'germany',
          'greece', 'hungary', 'iceland', 'ireland', 'italy', 'latvia', 'lithuania', 'luxembourg', 'malta', 'netherlands', 'norway', 'poland', 'portugal', 'romania', 'slovakia', 'spain', 'sweden', 'switzerland', 'uk'. 
      </li>
      <li>work: détails de l'oeuvre (au format json ou au format rdf).</li>
    </ul>

    <p>La réponse contenant les résultats du Calculateur sera retournée au format JSON</p>

    <p><strong>Exemple de requête</strong></p>
    <p><a
      href='http://publicdomainworks.net/api/pd?jurisdiction=france/bnf&work=http://data.bnf.fr/15533097/2046___film/rdf.xml&detail=medium&lang=fr'>/api/pd?jurisdiction=france/bnf&work=http://data.bnf.fr/15533097/2046___film/rdf.xml&detail=medium&lang=fr</a></p>

    <h3>Résultat du Calculateur</h3>
    <pre class="well">
    {
      "output": "The PDCalc reasoner output string...",
      "work": A JSON string of the input used,
      "error: "Error messages from the reasoner" 
    }
    </pre>
</div>
</div>

{% endblock %}
