{% from "_util.html" import search_form %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <!-- Prevent the conditional comments from stalling page load -->
  <!--[if IE]><![endif]-->

  <title>{% block title %}{% endblock %} - Public Domain Works</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold&amp;subset=latin' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata&amp;subset=latin' rel='stylesheet' />
  <link rel="stylesheet" href="/static/css/okfn_footer.css">
  <link rel="stylesheet" href="/static/css/pdw.css">
  <link rel="stylesheet" href="/static/css/magic-bootstrap.css">
  <link rel="stylesheet" href="/static/css/style_mmo.css">
  <script src="https://rawgit.com/louisremi/jquery.backgroundSize.js/master/jquery.backgroundSize.js"></script>
  {% endblock %}

  <script>
  var resize = function(){
    $("#airlock").height($(window).height()-$("nav").height()-$("footer").height());
    $(".carousel-inner").height($(window).height()-$("nav").height()-$("footer").height());
    
  }
  $(function(){
    resize();
  });
  </script>
</head>
<body class="{% if page is defined %}
              {{page.title}}
            {% else %}
              index
            {% endif %}">
  <div id="airlock">
    <header>
      {% block masthead %}
      <div class="jumbotron">
        <div class="container">
          <h1>
            {% if page is defined %}
              {{page.title}}
            {% else %}
              {{context.title}}
            {% endif %}
          </h1>
        </div>
      </div>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('.home')}}">{{context.title}}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% for ipage in pages %}
              {% if ipage.area =="left" %}
              <li>
              <a 
              {% if ipage.type == "link" %}
                href="{{ipage.content}}"
              {% elif ipage.type == "page" %}
                href="/{{context.lang}}/{{ipage.id}}"
              {% endif %}>
              <i class="fa fa-{{ipage.icon}} fa-fw"></i>{{ipage.title}}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% for ipage in pages %}
              {% if ipage.area =="right" %}
              <li>
              <a 
              {% if ipage.type == "link" %}
                href="{{ipage.content}}"
              {% elif ipage.type == "page" %}
                href="/{{context.lang}}/{{ipage.id}}"
              {% endif %}>
              <i class="fa fa-{{ipage.icon}} fa-fw"></i>{{ipage.title}}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
      {% endblock %}
    </header>

    <article>
      {% block content %}{% endblock %}
    </article>

    <footer>
      {% block footer %}
      <p>Developed by the
        <img src="http://assets.okfn.org/images/logo/okf_logo_white_and_green_tiny.png" id="footer-okf-logo" />
        <a href="http://okfn.org">Open
        Knowledge Foundation</a> with support from the <a
        href="http://www.shuttleworthfoundation.org/">Shuttleworth
        Foundation</a>.</p>
	<p>Calculators on PublicDomainWorks.net are based on the research done by EuropeanaConnect, funded by the European Community Programme eContentpluss</p>
      <div class="widget-area">
        <ul class="xoxo">
          <li class="widget-container widget_text">
          <h3 class="widget-title"></h3>
          <div class="text-widget">
            <ul>
              <li>
                &copy; <a href="http://www.okfn.org/">Open Knowledge Foundation</a>
              </li>
              <li>
                <a href="http://opendefinition.org/okd/" class="img">
                <img alt="This Content and Data is Open" src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" class="button" />
                </a>
              </li>
              <li>
                <a href="http://opendefinition.org/ossd/" class="img">
                <img alt="This Content and Data is Open"
                  src="http://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" class="button" />
                </a>
              </li>
            </ul>
          </div>
          </li>
        </ul>
        <ul class="xoxo">
          <li class="widget-container widget_text">
          <h3 class="widget-title"></h3>
         
          </li>
        </ul>
      </div>
      {% endblock %}
    </footer>
  </div>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
</body>
</html>
