{% from "_util.html" import search_form %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <!-- Prevent the conditional comments from stalling page load -->
  <!--[if IE]><![endif]-->

  <title>Calculateur du Domaine Public</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold&amp;subset=latin' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata&amp;subset=latin' rel='stylesheet' />
  <link rel="stylesheet" href="/static/css/okfn_footer.css">
  <link rel="stylesheet" href="/static/css/pdw.css">
  <link rel="stylesheet" href="/static/css/style_mmo.css">
  <link rel="stylesheet" href="/static/css/magic-bootstrap.css">
  {% endblock %}
</head>
<body>
  <div id="airlock">
    <header>
      {% block masthead %}
      <div class="jumbotron">
        <div class="container">
          <h1>
            <!--<a href="{{url_for('.home')}}" title="The Public Domain Works Homepage">-->
              Calculateur du Domaine Public<!--</a>-->
          </h1>
        </div>
      </div>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('.home')}}">Public Domain Works</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
                <a href="http://publicdomain.okfn.org/calculators/"><i class="fa fa-home fa-fw"></i>Project Home Page</a>
              </li>
              <li>
                <a href="{{url_for('api_index')}}"><i class="fa fa-gears fa-fw"></i>API</a>
              </li>
              <li>
                <a href="http://okfn.org/contact/"><i class="fa fa-envelope fa-fw"></i>Contact Us</a>
              </li>
              <li>
                <a href="http://okfn.org/privacy-policy/"><i class="fa fa-info-circle fa-fw"></i>Privacy Policy</a>
              </li>
            </ul>
        </div>
      </nav>
      {% endblock %}
    </header>

    <article class="container">
      {% block content %}{% endblock %}
    </article>

    <footer class="container">
      {% block footer %}
      <p>Un projet
        <img src="http://assets.okfn.org/images/logo/okf_logo_white_and_green_tiny.png" id="footer-okf-logo" />
        <a href="http://okfn.org">Open
        Knowledge Foundation</a>dans le cadre d'un partenariat de recherche avec <a
        href="http://www.culturecommunication.gouv.fr">le Ministère de la Culture et de la Communication</a>;
        avec le soutien de la <a
        href="http://www.shuttleworthfoundation.org/">Shuttleworth
        Foundation</a>.</p>
	<p><h5>Calculateurs sur PublicDomainWorks.net sont basées sur les recherches effectuées par EuropeanaConnect, financé par le programme de la Communauté européenne eContentplus.</h5></p>
      <div class="widget-area">
        <ul class="xoxo">
          <li class="widget-container widget_text">
          <h3 class="widget-title"></h3>
          <div class="text-widget">
            <ul>
              <li>
                &copy; <a href="http://www.okfn.org/">Open Knowledge Foundation</a>
              </li>
              <li>
                <a href="http://opendefinition.org/okd/" class="img">
                <img alt="This Content and Data is Open" src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" class="button" />
                </a>
              </li>
              <li>
                <a href="http://opendefinition.org/ossd/" class="img">
                <img alt="This Content and Data is Open"
                  src="http://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" class="button" />
                </a>
              </li>
            </ul>
          </div>
          </li>
        </ul>
        <ul class="xoxo">
          <li class="widget-container widget_text">
          <h3 class="widget-title"></h3>
          <div class="textwidget">
            <ul>
              <li>
                <a href="http://publicdomain.okfn.org/calculators/">Project Home Page</a>
              </li>
              <li>
                <a href="{{url_for('api_index')}}">API</a>
              </li>
              <li>
                <a href="http://okfn.org/contact/">Contact Us</a>
              </li>
              <li>
                <a href="http://okfn.org/privacy-policy/">Privacy Policy</a>
              </li>
            </ul>
          </div>
          </li>
        </ul>
      </div>
      {% endblock %}
    </footer>
  </div>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
</body>
</html>
