{% from "_util.html" import search_form %}
<!DOCTYPE html>
<html lang="fr">
<head>
  {% block head %}
  <!-- Prevent the conditional comments from stalling page load -->
  <!--[if IE]><![endif]-->

  <title>{% block title %}{% endblock %} - Calculateur du Domaine Public</title>
 <script src="/static/js/icanhazjs.js"></script>
  <!-- <script src="https://rawgithub.com/HenrikJoreteg/ICanHaz.js/master/ICanHaz.min.js"></script>-->
   <!-- <script src="/static/js/jquery.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/pdc.js"></script>
  <script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta charset="utf-8">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css" rel="stylesheet"> 
  <link rel="stylesheet" href="/static/css/pdw.css">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/pdc.css">

  {% endblock %}
</head>

<body>
      {% block masthead %}
      <nav class="navbar navbar-default navbar-inverse  navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img id="logo" src="/static/img/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li >
                <a href="/calculateur">Le calculateur</a>
              </li>
              <li>
                <a href="/domainepublic">Le domaine public</a>
              </li>
              <li>
                <a href="/donnees">Les métadonnées</a>
              </li>
              <li>
                <a href="/institutions">Les établissements culturels</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
      {% endblock %}
      {% block content %}{% endblock %}

    <div class="panel-footer navbar-fixed-bottom">
      {% block footer %}
        <a href="http://www.culturecommunication.gouv.fr/" target="_blank"><img src="static/img/logo_mcc.png"/></a>
        <a href="http://fr.okfn.org" target="_blank"><img src="http://assets.okfn.org/web/images/header-logox2.png"/></a>
        <p class="nav navbar-nav">Le Démonstrateur du Calculateur du domaine public français est une expérimentation réalisée dans le cadre d’un partenariat de recherche et développement entre l'<a href="http://okfn.fr" target="_blank">Open Knowledge Foundation France</a> et le <a href="http://cblog.culture.fr/projet/2013/11/08/un-calculateur-du-domaine-public-francais" target="_blank">ministère de la Culture et de la Communication</a>. Le Démonstrateur du Calculateur du domaine public français est présenté en version bêta.</p>
          <ul class="nav navbar-nav">
          <li><a href="/legal">Mentions légales</a></li>
          <li><a href="/projet">Projet</a></li>
          <li><a href="/contact">Nous contacter</a></li>
          <li><a href="/api">API</a></li>
          </ul>
      </div>
      {% endblock %}
   </div>
  </div>
</body>
</html>
