{% extends "base.html" %}
{% block title %}Comprendre le Calculateur{% endblock %}
{% block content %}

  <div class="row first">
  	<div class="col-md-1"></div>
		 <div class="col-md-8 textcontent">
		 	<h2>Pourquoi un calculateur du domaine public ?</h2>

		 	<p class="jumbotron">Le Calculateur du domaine public est un outil technique qui permet de calculer automatiquement la durée de protection d’une œuvre dans une juridiction donnée et de déterminer si une œuvre est protégée par un droit de propriété littéraire et artistique ou si elle est entrée dans le domaine public.</p>

			<p>Le Calculateur du domaine public permet de valoriser la richesse contenue dans les œuvres du domaine public. Il peut s’agir d’œuvres littéraires, de films et d’images par exemple.<p>

			<p>A l’heure où le numérique garantit le développement d’un véritable écosystème d’innovation, notamment en offrant un meilleur accès et une plus grande ouverture à la réutilisation des données publiques et des ressources culturelles, il est devenu primordial de doter le secteur culturel d’un outil pédagogique lui permettant de mieux appréhender le statut juridique des œuvres et la valeur intrinsèque des métadonnées qu’il produit pour inscrire son action dans une véritable stratégie des usages numériques.<p>

			<p>En concluant un partenariat de recherche et développement avec Open Knowledge Foundation France, le ministère de la Culture et de la Communication souhaite sensibiliser le secteur culturel à la protection et à la valorisation du domaine public et aux enjeux inhérents à une plus grande prise en compte de la valeur des métadonnées culturelles.</p>

<h2>D’où vient l’idée du calculateur ?</h2>

<p>Open Knowledge Foundation a initié des travaux de recherches sur une première version du Calculateur du domaine public en 2006 dans le cadre du projet Public Domain Works, un projet visant à identifier les enregistrements sonores disponibles dans le domaine public en s’appuyant sur les métadonnées de la BBC et de collections privées.<p>

<p>En 2007, Public Domain Works et le projet Open Library ont proposé de créer des algorithmes pour déterminer le statut juridique d’une œuvre dans différentes juridictions.</p>

<p>Lors du premier atelier de travail de COMMUNIA en 2008, Open Knowledge Foundation a réuni des experts du droit d’auteur pour créer les premiers algorithmes. En 2009, Kennisland et l’Institut pour le droit de l’information (IViR) à Amsterdam ont commencé à travailler sur un jeu de calculateurs dans le cadre du projet EuropeanaConnect.</p>

<p class="jumbotron">En 2013, Open Knowledge Foundation France et le ministère de la Culture et de la Communication ont décidé de collaborer dans le cadre d’un partenariat de recherche et de développement pour réaliser un Démonstrateur de Calculateur du domaine public en se basant sur des précédents travaux et en y intégrant les métadonnées des établissements publics sous tutelle du ministère de la Culture et de la Communication et de services à compétence nationale. Le Démonstrateur est présenté sur ce site internet dans une version bêta.<p>

<h2>Comment fonctionne le calculateur ?</h2>

<p>Le Calculateur du domaine public permet à un utilisateur de procéder à une requête en renseignant : la juridiction pour laquelle il souhaite effectuer un calcul, le nom de l’œuvre ou le nom de l’auteur. Le calcul est possible grâce au traitement numérique des métadonnées bibliographiques attachées à l’œuvre faisant l’objet de la recherche.<p>
<p><img src="/static/img/schema.png"/></p>

<p>Le calculateur du domaine public fonctionne à partir de trois éléments : 
<ul>
<li><b>un organigramme dénommé arbre de décision</b> représentant le régime du droit d’auteur dans une juridiction donnée converti en codes et en algorithmes ;</li> 
<li><b>les métadonnées</b> biographiques et bibliographiques attachées aux œuvres ; </li>
<li><b>un logiciel</b> qui traite les métadonnées et l’arbre de décision</li>
</ul>
<p>

<p>Chaque branche de l’arbre de décision met en exergue une question dont la réponse varie en fonction des informations renseignées par l’utilisateur. Les informations transmises renvoient alors vers d’autres branches pour lesquelles d’autres réponses doivent être analysées afin de déterminer si une œuvre est oui ou non dans le domaine public.</p>
<p>Exemple d'un arbre de décision :</p>
<p><img style="width:700px" src="/static/img/arbre.jpg"/></p>

<p>La version bêta du Démonstrateur du Calculateur du domaine public s’appuie sur les métadonnées de la Bibliothèque nationale de France, <a href="http://www.bnf.fr/fr/professionnels/recuperation_donnees_bnf.html" target="_blank">disponibles sur data.bnf.fr</a>.</p>

<h2>Pour aller plus loin</h2>

<h4>Conférence : Cartographier le Domaine Public</h4>
<p>Intervention de Jonathan Gray, Directeur politiques publiques et idées, Open Knowledge Foundation lors de la journée "Transmettre la culture à l’ère du numérique" organisée par le ministère de la Culture et de la Communication</p>
<p><iframe frameborder="0" width="480" height="270" src="http://www.dailymotion.com/embed/video/x17hwvm" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/x17hwvm_conference-transmettre-la-culture-a-l-age-du-numerique-jonathan-gray_tech" target="_blank">Conf&eacute;rence &quot;Transmettre la culture &agrave; l&#039;&acirc;ge du...</a> <i>par <a href="http://www.dailymotion.com/culture-gouv" target="_blank">culture-gouv</a></i></p>

<h4>Étude sur les calculateurs du domaine public</h4>
<p>Dans le cadre du partenariat de recherche, le Ministère de la Culture et de la Communication a réalisé une étude sur les calculateurs du domaine public.<p>
<iframe src="https://www.slideshare.net/slideshow/embed_code/28526125" width="477" height="510" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/culturefr/etude-calculateurs-du-domaine-public" title="Etude calculateurs du domaine public" target="_blank">Etude calculateurs du domaine public</a> </strong> from <strong><a href="http://www.slideshare.net/culturefr" target="_blank">Cblogculture</a></strong> </div>	
<div class="col-md-2"></div>
	</div>
</div>
{% endblock %}