{% extends "base.html" %}
{% block title %}Nous contacter{% endblock %}
{% block content %}

  <div class="row first">
  	<div class="col-md-1"></div>
		 <div class="col-md-8 textcontent">
		 	<h2>Nous contacter</h2> 

<p><b>Pour le ministère de la Culture et de la Communication</b>, la personne en charge de la politique d'ouverture et de partage des données publiques culturelles est :</br> 
M. Camille Domange, chef du département des programmes numériques</p>

<p><b>Pour Open Knowledge Foundation France</b>, les personnes responsables du projet sont :</br>
Melle Primavera de Filippi et M. Pierre Chrzanowski. </br>Contact email : contact(at)calculateurdomainepublic.fr</p>
		 	</div>	
<div class="col-md-2"></div>
	</div>
{% endblock %}