{% extends "base.html" %}
{% block title %}Les Institutions Culturelles{% endblock %}
{% block content %}
  <div class="row first">
  	<div class="col-md-1"></div>
		 <div class="col-md-8 textcontent">
		 	<h2>Les établissement culturels</h2>
		 	
		 	<p>Le secteur culturel est un producteur dynamique de données publiques culturelles, notamment de métadonnées. Les institutions du secteur culturel jouent un rôle déterminant dans la production des métadonnées et sont les seules à produire des données de ce type,  d’une telle qualité et labellisées scientifiquement.</p>
		 	
		 	<p class="jumbotron">Les Établissements publics culturels ont notamment pour mission d’inventorier, de conserver, de restaurer, d’enrichir, de présenter au public et de mettre en valeur le patrimoine culturel dont ils ont la charge.<p/>

		 	<p>Les Établissements publics peuvent être des établissements publics à caractère administratif, comme la Bibliothèque nationale de France, ou des établissements publics à caractère industriel et commercial.</p>

		 	<p class="jumbotron">Ces Établissements peuvent être des musées, des bibliothèques, des archives.</p>

		 	<p>
		 		<ul>
		 			<li><a href="http://www.data.gouv.fr/fr/dataset/liste-des-musees-de-france-30382165" target="_blank">La liste des musées de France</a></li>
		 			<li><a href="http://www.data.gouv.fr/fr/dataset/adresses-des-bibliotheques-publiques" target="_blank">La liste des bibliothèques publiques</a></li>
		 		</ul>
		 	</p>
		 	<h2>Les institutions culturelles partenaires</h2>
		 	<h3>La Bibliothèque nationale de France</h3>
		 	<p>A la Bibliothèque nationale de France, la pratique des métadonnées descriptives est ancienne : elle se confond avec celle des catalogues. La recherche et la localisation des documents, par les professionnels comme par le grand public, n’est possible que parce que ces documents ont été décrits et analysés par les catalogueurs, en suivant des normes rigoureuses. La production de métadonnées est ainsi au cœur des missions de la BnF.</p>

		 	<p>C’est d’ailleurs une mission qui lui a été expressément confiée par les textes réglementaires (Décret n°94-3 du 3 janvier 1994) : recevant les ouvrages qui font l’objet d’un dépôt légal, la BnF se doit de les décrire sous forme de notices, qu’elle publie dans la <a href=" http://bibliographienationale.bnf.fr/" target="_blank">Bibliographie nationale française</a>; elle constitue ainsi le réservoir de métadonnées qui fait autorité dans le secteur du livre.</p>

		 	<p>En 2011, la BnF a été la première institution culturelle à mettre à disposition du public, dans <a href="http://data.bnf.fr/" target="_blank">data.bnf.fr</a>, un jeu de métadonnées structurées selon les principes du web sémantique et disponibles sous Licence ouverte de l’État.</p>

		 	<p>Fin décembre 2013, la BnF a étendu la Licence ouverte de l’Etat à l’ensemble de ses catalogues ; <a href="http://www.bnf.fr/fr/professionnels/anx_recuperation_donnees/a.ouverture_donnees_bnf.html" target="_blank">toutes ses métadonnées descriptives sont donc désormais mises à disposition gratuitement, pour tout type de réutilisation, avec la seule obligation d’en mentionner la source</a>.
			</p>

			<p>Dans le cadre du projet de recherche et développement destiné à élaborer un Démonstrateur de Calculateur du domaine public, la BnF a mis à disposition un corpus de métadonnées concernant des ouvrages, des auteurs ou des thèmes de la période 1914-1918.</p>
		 </div>
	</div>
{% endblock %}