{% extends "base.html" %}
{% block title %}Les Institutions Culturelles{% endblock %}
{% block content %}
  <div class="row first">
  	<div class="col-md-1"></div>
		 <div class="col-md-8 textcontent">
		 	<h2>Les métadonnées bibliographiques</h2>

		 	<p class="jumbotron">Les métadonnées bibliographiques désignent les ensembles structurés d’informations qui permettent de décrire et identifier des ressources : auteur, titre, sujet, description physique, etc. Il existe d’autres types de métadonnées : par exemple, les métadonnées de préservation qui rassemblent les informations utiles pour la conservation des ressources, ou  les métadonnées administratives et juridiques, qui concernent la gestion d’un document (comme sa durée d'utilité administrative) ou son régime de droit.
		 	</p> 

			<p>Dans la vie d’une ressource, depuis sa production jusqu’à sa communication et sa conservation, les métadonnées sont partout. Pour les institutions du secteur culturel, elles sont une matière première irremplaçable pour mener à bien leur mission de diffusion des œuvres et du patrimoine culturel.C'est pour cette raison qu'il est essentiel que ces institutions produisent des métadonnées de qualité.</p> 
		 	
		 </div>
		</div>
{% endblock %}


