{% extends "base.html" %}
{% block title %}Projet{% endblock %}
{% block content %}

  <div class="first">
  	<div class="row">
  	<div class="col-md-1"></div>
		 <div class="col-md-8 textcontent">
		 	<h2>A propos du Calculateur du domaine public</h2>
<p>Le Démonstrateur de Calculateur du Domaine Public présenté dans une version bêta, est élaboré dans le cadre d’un partenariat de recherche et développement conclu entre Open Knowledge Foundation et le ministère de la Culture et de la Communication. </p>

<p>Le corpus test de métadonnées utilisé pour les besoins du Démonstrateur a été mis à disposition par la Bibliothèque nationale de France. Ce corpus est issu de <a href="http://www.bnf.fr/fr/professionnels/recuperation_donnees_bnf.html" target="_blank">data.bnf.fr</a>. </p>

<p>Le Calculateur du Domaine Public permet de renouer avec la problématique de l’appropriation des œuvres par les usagers et d’accompagner la réflexion du ministère de la Culture et de la Communication sur la protection et la valorisation du domaine public numérique et l’enjeu des métadonnées culturelles.</p>

<p>NB : Le Démonstrateur du Calculateur du Domaine Public français n’est qu’une preuve de concept s’inscrivant dans le cadre d’un partenariat de recherche et de développement. Il est ici mis à disposition en version bêta afin que l’ensemble de la communauté puisse contribuer à l’amélioration de ses fonctionnalités et à souligner l’importance cruciale de produire des métadonnées de qualité pour les institutions culturelles.</p>
</div>
</div>	
<div class="row" style="margin-top: 20px;">

  	<div class="col-md-1"></div>
  	<div class="col-md-3">
  		<img src="/static/img/logo_mcc.png" style="height:100px;margin-bottom: 12px;"/>
  	<p><b>Département des programmes numériques</b></br>		
	Chef de département : Camille Domange</br>		
	Equipe projet : Olivia Ruiz-Joffre, juriste</p>
  	</div>
  	<div class="col-md-3">
  	<img src="/static/img/okffr.png" style="height:100px;margin-bottom: 12px;"/>
  	<p><b>Équipe Open Knowledge Foundation France</b></br>
  	Responsable projet : Pierre Chrzanowski</br>
  	Responsable technique : Primavera de Filippi</br>
  	Expert web sémantique : <a href="http://ingmmo.com/" target="_blank">Marco de Montanari</a></br>
  	</p></div>
  	<div class="col-md-3"></div>
</div>
 </div>
{% endblock %}