{% extends "base.html" %}
{% block title %}Le domaine public{% endblock %}
{% block content %}

  <div class="row first">
  	<div class="col-md-1"></div>
		 <div class="col-md-8 textcontent">
		 	<h2>Comprendre et identifier le domaine public</h2>
		 	<p class="jumbotron">Le domaine public désigne le statut sous lequel sont placés les œuvres et les objets protégés par le droit d’auteur dont la durée de protection a expiré et dont l’utilisation n’est plus soumise à l’autorisation des titulaires de droits.</p>

		 	<p>La protection des droits patrimoniaux de l’auteur est temporaire. Le monopôle d’exploitation consenti par la société est limité dans le temps : l’article L. 121-1 du Code de la Propriété Intellectuelle dispose <i>« l’auteur jouit sa vie durant du droit d’exploiter son œuvre sous quelque forme que ce soit […] au décès de l’auteur, ce droit persiste au bénéfice de ses ayants droit pendant l’année civile en cours et les soixante-dix années qui suivent »</i>. A l’expiration du délai, les œuvres sont libres d’utilisation sous réserve de respecter les droits moraux de l’auteur.</p>

		 	<p>Pour appréhender la problématique du domaine public, il convient de garder à l’esprit la philosophie qui sous-tend le droit d’auteur français. Le monopole temporaire accordé à l’auteur a une finalité de récompense : on récompense celui qui a enrichi la société grâce à sa création. On concilie en d’autres termes l’intérêt du propriétaire avec l’intérêt du public.</p>

		 	<p>Toutefois, la territorialité du droit d’auteur rend souvent complexe le calcul des droits sur une œuvre ; et ce d'autant plus que les données biographiques attachées aux auteurs et les données bibliographiques sur les œuvres sont parfois insuffisamment précises.</p>

		 	<p class="jumbotron">Le Calculateur du domaine public permet de cartographier et de valoriser le domaine public en permettant au public d’identifier facilement les œuvres qui y sont entrées.</p>
			<iframe src="//player.vimeo.com/video/78740619" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/78740619">Le démonstrateur du Calculateur du domaine public français</a> from <a href="http://vimeo.com/cblog">Minist&egrave;re de la Culture</a> on <a href="https://vimeo.com" target="_blank">Vimeo</a>

		 	<h2>Valoriser le domaine public</h2>

			<p>La réflexion sur la valorisation du domaine public prend en compte à la fois l’intérêt de l’usager final, l’effort de démocratisation par l’accès au plus grand nombre aux œuvres de l’esprit et le respect des droits d’auteur.</p>

			<p class="jumbotron">
			Par une meilleure prise en compte de la réalité couverte par le domaine public, une conciliation de l’intérêt du propriétaire de l’œuvre avec l’intérêt du public devient possible et démontre qu’il n’est pas incompatible d’œuvrer à la fois pour le droit d’auteur et pour la chose publique.
			</p>

			<p>Les œuvres qui sont entrées dans le domaine public sont des matériaux formidables permettant à la fois l’éclosion de pratiques artistiques et culturelles nouvelles ; pratiques qui sont aujourd’hui démultipliées par les potentialités offertes par le numérique, comme le mash­up mais également l’accompagnement d’un système d’innovation. En effet, en favorisant la réutilisation et en faisant en sorte que les œuvres qui sont entrées dans le domaine public y restent, des valeurs sociales, culturelles et économiques se créent autour de cette typologie d’œuvres.</p>

			<p class="jumbotron">Les œuvres du domaine public constituent une opportunité sans équivalent pour concevoir des produits ou services à forte valeur ajoutée, promouvoir de nouveaux usages et susciter ainsi la création de nouvelles activités économiques dans le secteur culturel.</p>
		 </div>
	<div class="col-md-2"></div>
</div>



{% endblock %}