{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

{% raw %}
<script id="error" type="text/html">
  <div class="alert alert-danger col-xs-12">
	  <div><strong>Oh snap!</strong> apparently there was an error:</div>
	  <pre>{{msg}}</pre>
  </div>
</script>
<script id="question" type="text/html">
  <div class="alert alert-success col-xs-12">
	  {{question}}
  </div>
</script>
<script id="evaluation" type="text/html">
  <div class="alert alert-success col-xs-10 col-md-offset-2">
	  {{evaluation}}
  </div>
</script>
<script id="query" type="text/html">
  <div class="alert alert-info col-xs-12">
	  <pre>{{query}}</pre>
  </div>
</script>
<script id="answer" type="text/html">
  <div class="alert alert-warning col-xs-12">
	  {{answer}}
  </div>
</script>
<script id="response" type="text/html">
	  	<div class="col-xs-3 alert alert-{{#result}}success{{/result}}{{^result}}danger{{/result}}"><center><strong>
	  		{{#result}}<i class="fa fa-check fa-4x"></i>{{/result}}
	  		{{^result}}<i class="fa fa-times fa-4x"></i>{{/result}}
	  	</strong></center></div>
		<div class="col-xs-8 col-md-offset-1">{{response}}</div>
</script>

<script id="searchresult" type="text/html">
	<hr style="clear:both;" />
	<div class="result-row" >
		<div class="col-xs-10">
			<i class="fa fa-user fa-fw"></i><span class="author">{{author}}</span> <br/> 
			<i class="fa fa-file fa-fw"></i><span class="artwork">{{title}}</span>
		</div>

		<button class="btn btn-success pull-right col-xs-2 calc" title="Calculate!" data-rdf="{{rdf}}"><i class="fa fa-gears fa-fw" ></i></button>
	</div>
</script>
{% endraw %} 

<section>
    <h2>Welcome!</h2>
	<div class="primary col-xs-5" >
		<p>
		Public Domain Works is a repository of works that have entered the public domain. You can search for works that are in the public domain in any given jurisdiction, or browse public domain works by categories. Public Domain Works is powered by the <a href="http://publicdomain.okfn.org/calculators">Public Domain Calculators</a>, a tool that determines the public domain status of a work based on bibliographic metadata<br/>
		</p>
        <p>Public Domain Works also provides a web <a href="http://publicdomainworks.net/api">API</a> for calculating public domain status of works.</p>
	<hr/>
	<div id="search-query">
		 <div class="row">
                        <span class="col-xs-6"><i class="fa fa-link fa-fw"></i>Search for an author:</span>
                        <input type="text" name="query-author" id="query-author" class="col-xs-6">
						<span class="col-xs-6"><i class="fa fa-link fa-fw"></i>Search for a work:</span>
						<input type="text" name="query-work" id="query-work" class="col-xs-6">
		</div>
		<div class="row">
                        <button type="button" name="search" value="Search" id="search" class="btn btn-info col-xs-12"><i class="fa fa-search fa-fw"></i>Search</button>
                </div>
	</div>
	<div id="search-results">
	</div>

	</div>

	<div class="secondary col-xs-5 col-md-offset-2">
		<p>Try the public domain calculators:</p>
		<p class="row">
			<span class="col-xs-6"> <i class="fa fa-globe fa-fw"></i>Select your jurdisdiction:</span>
			<select name="jurisdiction" id="jurisdiction" class="col-xs-6">
				<!---->
			</select>
		</p>
		<p class="row">
			<span class="col-xs-6"> <i class="fa fa-link fa-fw"></i>Paste your metadata url:</span>
			<input type="text" name="work" id="work" class="col-xs-6">
		</p>
		<p class="row">
			<span class="col-xs-6"> <i class="fa fa-question fa-fw"></i>Sample data urls:</span>
			<a class="sample_url" data-url="http://data.bnf.fr/15533097/2046___film/rdf.xml" data-jurisdiction="france/bnf">2046 - Wong Kar Wai - Bnf France</a>
		</p>
		<p class="row">
			<span class="col-xs-6"> <i class="fa fa-signal fa-fw"></i>Select detail level:</span>
			<select name="detail" id="detail" class="col-xs-6">
				<option value="low" >low</option>
				<option value="medium">medium</option>
				<option value="high">high</option>
			</select>
		</p>
		<p class="row">
			<button type="button" name="submit" value="Calculate!" id="submit" class="btn btn-success col-xs-12" ><i class="fa fa-gears fa-fw"></i>Calculate!</button>
		</p>


		<div class="row">
			The calculation results as follows:
		</div>
		<div id="results" class="well row">
		</div>
	</div>
</section>
{% endblock %}
