ul {
	list-style-type: none;
	padding: 0;
	margin:  0;
}

li {
	background-repeat: no-repeat;
	background-position: 0 .4em;
	padding-bottom: .3em;
}

img.li {
	width: 30px;
	height: 30px;
	padding-right: .5em;
}
